/*===========================
             Variables
  ===========================*/

/*====== Colors ======*/

// Main palette
$color-primary: rgb(75, 74, 74);
$color-secondary: #222;
$color-p: rgb(155, 155, 155);
$color-border: #CCC;
$color-bg: rgb(248, 248, 248);
$color-accent: rgba(226, 200, 113, 0.6);

// General use
$white: #fff;

// Images



/*====== Values ======*/

// Typography

// Media queries
$phablet: 535px;
$tablet: 768px;
$desktop: 1024px;

// Dimensions


// Grid


// Buttons


// Nav


// Images


// Form