/* ================== */
/*        Modal       */
/* ================== */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        padding: 1rem;
        width: 85%;
        border-radius: 5px;

        a,
        p {
            font-size: .75rem;
        }
    }

    &__closer {
        align-self: flex-end;
        font-size: 2rem;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: $color-bg;

        &:hover {
            background-color: $color-border;
        }

        &:active {
            background-color: $color-accent;
        }
    }

    &__img {
        transition: box-shadow 0.4s ease;
        height: 75px;
        width: 75px;
    }

    &__img:hover {
        box-shadow: 0 0 10px $color-accent;
    }

    &__name {
        margin: 1rem 0 0;
    }

    &__email,
    &__city {
        margin: .5rem 0 0;
    }

    &__hr {
        width: 90%;
        border: .5px solid;
        background: $color-border;
        color: $color-border;
        margin-top: 1rem;
        
    }

    &__phone {
        margin: 1rem 0 .5rem;
    }
    &__address,
    &__birthday {
        margin: .5rem 0 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 100%;
        margin: auto 0;
    }

    &__button {
        flex-basis: 33%;
        font-size: 1rem;
        border: none;
        width: 12rem;
        height: 3rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background: $color-border;
        }

        &:active {
            background: $color-accent;
        }

        &--previous {
            justify-self: flex-start;
        }

        &--next {
            justify-self: flex-end;
        }
    }

    &--show {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
}

@include mq($phablet) {
    .modal {
            
        &__content {
            width: 50%;   

            a,
            p {
                font-size: 1rem;
            }
        }

        &__container {
            margin-top: 1rem;
        }
    }
}

@include mq($tablet) {
    .modal {
            
        &__content {
            width: 60%;   

            a,
            p {
                font-size: 1rem;
            }
        }

        &__container {
            margin-top: 2rem;
        }
    }
}

@include mq($desktop) {
    .modal {
            
        &__content {
            width: 40%;
            
        }

        &__container {
            margin-top: 2rem;
        }
    }
}