/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: $color-primary;
  }
  
  h1, 
  h2 {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    font-size: 1.3rem;
    color: $color-primary;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: .2rem;
  }

  h2 {
    font-size: 1.1rem;
    color: $color-secondary;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
  }

  p {
    font-size: 1rem;
    color: $color-p;
  }
  .header {
    display: flex;
    justify-content: center;
    text-align: center;

    &__title {
      margin: 1rem 1rem 0;
      text-transform: uppercase;
      max-width: 350px;
    }
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 0 1rem;

    &__input {
      background: no-repeat .5rem 55%/1.5rem url('../img/magnifying-glass.min.svg');
      font-size: 1.2rem;
      line-height: 1.6;
      border: 1px solid $color-border;
      border-radius: 5px;
      height: 2rem;
      width: 75%;
      padding: 1rem 1rem 1rem 2.5rem;

      &:focus {
        outline: none;
      }
    }
  }

  @include mq($tablet) {

    h1 {
      font-size: 3rem;
      line-height: 1.6;
    }

    .search {
      &__input {
        font-size: 1.5rem;
        padding: 2rem 2rem 2rem 3.5rem;
        background: no-repeat .75rem 55%/2rem url('../img/magnifying-glass.min.svg');
      }
    }
    .header__title {
      margin: 1.5rem 1.5rem 0;
      max-width: 700px;
    }
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  body {
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-kerning: normal;
    background: $color-bg;
    max-width: 1200px;
    margin: 0 auto;
  }
